<main>
  <h1 class='text-center'>Hello world!</h1>
  <h2 class='text-end text-uppercase'>hello</h2>
  <h3 class='text-capitalize'>world on my own</h3>

  <hr />
  <div class='display-1'>Hello world!</div>
  <div class='display-5'>Hello</div>
  <div class='display-6'>world</div>
  <hr />

  <span class='text-muted display-5'>extra text</span>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-muted display-5'>test button</span>
    <h1 class='text-center'>Hello world!</h1>
  </button>

  <hr />

  <p class='text-primary'>
    text
  </p>

  <p class='text-success'> text </p>
  <p class='text-danger'> text </p>

  <hr />
  <button class='btn btn-outline-secondary'>

    <h1 class='text-center'>Hello world!</h1>
  </button>

  <button class='btn btn-outline-primary btn-lg'>

    Hello world!
  </button>

  <hr />

  <div class='card'>
    <div class='card-body'>
      this is content
    </div>
  </div>
  <hr />

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-outline-secondary'>

        <h1 class='text-center'>Hello world!</h1>
      </button>

      <button class='btn btn-outline-primary btn-lg'>Hello
        world!
      </button>
    </div>
  </div>

</main>