<div>
  <section>
    <h2>{{name}}</h2>
    <hr />
  </section>
  <dir>
    <ul>
        {{#each users}}
        <li>
            {{> idname}} 
            <br>         
            <b>Friends:</b>            
                <ul>
                    {{#each friends}}  
                        <li>         
                            {{> idname}}
                            <br>
                            <b>mutual friends:</b>                            
                                <ul>
                                    {{#each mutual_friends}}
                                    <li>
                                        {{> idname}}
                                        <br>
                                        {{!-- <b>mutual friends:</b> --}}                                        
                                            <ul>
                                                {{#each mutual_friends}}
                                                <b>mutual friends:</b>
                                                <li>
                                                    {{> idname}}
                                                </li>
                                                {{/each}}
                                            </ul>                                        
                                    </li>
                                    {{/each}}
                                </ul>                            
                        </li>                            
                    {{/each}}
                </ul>                   
            <b>Groups:</b>     
            {{> group}}            
        </li>
        {{/each}}
    </ul>
  </dir>
</div>