<main class='ps-5 pt-5'>

  <div class='py-3'>
    <h3 class='fs-3'>Page list</h3>
  </div>
  <div>
    <p class='fs-5'>Тут вам потрібно написати інформацію про Ваш проєкт. Поки що
      можна написати будь-який текст</p>
  </div>

  
  <div class="pt-5">
    <h3>Resume</h3>
    {{#with resume}}
    <div class="py-2">{{> button data=summary}}</div>
    <div class="py-2">{{> button data=skills}}</div>
    <div class="py-2">{{> button data=education}}</div>
    <div class="py-2">{{> button data=work}}</div>
    {{/with}}
  </div>



  <h3 class="pt-5">Typesetting</h3>
  <div class="row">
    {{#each typesetting}}
    <div class="col-3 py-2">
      {{#with this}}
        {{> buttonSet}}
      {{/with}}
      </div>
    {{/each}}
    </div>
  
   {{!-- <div class="pt-5">
    <h3>Typesetting</h3>
    {{#with typesetting}}
    {{> button data=person}}
    {{> button data=bio}}
    {{> button data=program}}
    {{> button data=web}}
    {{> button data=mac}}
    {{> button data=js}}
    {{> button data=car}}
    {{> button data=facebook}}    
    {{/with}} 
  </div> --}}

   <div class="pt-5">
    <h3>Bootstrap</h3>
    {{#with bootstrap}}
    {{> button data=task1}}
    {{> button data=task2}}
    {{> button data=task3}}     
    {{/with}} 
  </div>

  <div class="pt-5 pb-5">
    <h3>Shop</h3>
    {{#with shop}}
    {{> button data=shophome}}
    {{> button data=shopproduct}}
    {{> button data=shopnews}} 
    {{> button data=shoporder}}
    {{> button data=shopcart}}
    {{> button data=shopprofile}} 
    {{> button data=shopreview}}      
    {{/with}} 
  </div>

  
  

 
 

</main>