<main class='ps-5 pt-5'>

  <div class='py-3'>
    <h3 class='fs-3'>Page list</h3>
  </div>
  <div>
    <p class='fs-5'>Тут вам потрібно написати інформацію про Ваш проєкт. Поки що
      можна написати будь-який текст</p>
  </div>

  <div class='pt-5 pb-3'>
    <a href='/skills' target='_blank' class='btn btn-primary'>Skills</a>
  </div>
  <div class='pb-3'>
    <a href='/summary' target='_blank' class='btn btn-primary'>Summary</a>
  </div>
  <div class='pb-3'>
    <a href='/education' target='_blank' class='btn btn-primary'>Education</a>
  </div>
  <div class='pb-3'>
    <a href='/work' target='_blank' class='btn btn-primary'>Work</a>
  </div>

</main>