{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>  
    {{#with main}}     
        <main>
            <section>
                {{>title data=summary.title big=true}}
                <div>
                    <p>
                        {{summary.text}}
                    </p>
                </div>
            </section>

            {{#with experience}}
                <section>
                    {{>title data=title big=false}}
                        {{!-- <h2>{{title}}</h2> --}}
                    
                    <div>
                        <p>
                            {{text}}
                            {{!-- Pet project for parsing sport betting data from different platforms ( odds ) and sport statistics (
                            tournament position, goals etc), analyzing by simple mathematics models and preparing probability
                            for such events like: money line - first win / draw / second win, totals etc. --}}
                        </p>
                    </div>
                </section>
            {{/with}}
        </main> 
    {{/with}} 

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
