<main class='ps-5 pt-2'>
  <div class='card p-3 fs-5'>
    {{#with header}}
      {{#with name}}
        <div>{{firstname}}
          {{lastname}}</div>
        <div class='text-end' style='margin-top:-30px;'>Resume project</div>
      {{/with}}
    {{/with}}
  </div>
</main>