<a href="{{href}}" {{#if blank}} target="_blank" {{/if}}>{{text}}</a> 


{{#unless noLine}}
    {{#if line}}
        --
        
        {{else}}
            {{#unless noSlash}}
            /
            {{/unless}}
    {{/if}}
{{/unless}}
