<div class='mb-2'>  
  <div> <label class='ms=0 fs-5'>{{label}} </label></div>
  <input
    class='form-control'
    placeholder='{{placeholder}}'
  />
  {{#if caption}}
    <div class='form-text'>{{caption}}</div>
  {{/if}}
</div>