{{#each cards}}
    <div class='col-4'>
        <div class='card'>
            <img
                class='card-img-top'
                src='{{image}}'
                alt='Product photo {{title}}'                />
            <div class='card-body'>
                <b class='card-title p-0'>
                {{title}}
                {{#if isHot}}
                    <span
                    class='badge text-bg-warning rounded-pill ms-2'
                    >
                    HOT!
                    </span>
                {{/if}}
                {{#if isNew}}
                    <span
                    class='badge text-bg-primary rounded-pill ms-2'
                    >
                    NEW
                    </span>
                {{/if}}
                </b>
                <p class='mt-5'>{{description}}</p>
            </div>
        </div>
    </div>
{{/each}}